<% if @posts.none? %>
  <p>
    <%= t('posts.index.empty_collection') %>
  </p>
<% else %>
  <%= render partial: 'posts/post', collection: @posts %>
  
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
<% end %>

<% if user_signed_in? %>
<p>
  <%= link_to new_post_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-plus"></span> <%= t('posts.new.title') %>
  <% end %>
</p>
<% end %>

<% if @sidebar_modules %>
  <% content_for :sidebar do %>
    <%= render partial: 'posts/sidebar' %>
  <% end %>
<% end %>
