<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'layouts/shared/head' %>
  </head>
  <body>
    <%= render partial: 'layouts/shared/navigation' %> 
    
    <div class="container">
      <%= render partial: 'layouts/shared/flash' %>
      
      <div class="blog-header">
<% if @show_breadcrumbs %>
        <%= breadcrumbs %><br/>
<% end %> 
        
        <h1 class="blog-title"><%= t 'general.blog.title' %></h1>
        <p class="lead blog-description"><%= t 'general.blog.sub_title' %></p>
      </div>

      <div class="row">
<% if content_for? :sidebar %>
        <div class="col-sm-8 blog-main">
          <%= yield %>
        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <%= yield :sidebar %>
        </div>
<% else %>
        <div class="col-sm-12 blog-main">
          <%= yield %>
        </div>
<% end %>
      </div>

    </div>  
    
    <%= render partial: 'layouts/shared/foot' %>
  </body>
</html>